#SiteWideAlerts {
  .btn-close {
    background: none;
  }

  .alert {
    display: flex;
    margin-bottom: 0;
  }
}

.alert-offline {
  display: none;
}

body.is-online {
  .alert-offline {
    display: none;
  }
}

body.is-offline {
  .alert-offline {
    display: flex;
  }
}
