#SiteWideAlerts {
  .btn-close {
    background: none;
  }

  .alert {
    display: flex;
    margin-bottom: 0;

    .alert__container {
      display: flex;
    }
  }
}

.alert-offline {
  display: none;
}

.is-online {
  .alert-offline {
    display: none !important;
  }
}

.is-offline {
  .alert-offline {
    display: flex !important;
  }
}

.alert-bad,
.alert-error {
  @extend .alert-danger;
}

.alert:last-child {
  margin-bottom: 0;
}
