@import '../../_variables';

#SiteWideAlerts {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;

    .btn-close {
        background: none;
    }

    .alert {
        margin-bottom: 0;
    }
}

.alert-offline {
    display: none;
}

.is-online {
    .alert-offline {
        display: none;
    }
}

.is-offline {
    .alert-offline {
        display: flex;
    }
}
