.field {
  flex-direction: row;

  &__label {
    align-items: center;
    display: inline-flex;
    padding-right: $form-spacer-x;

    & + .field__content {
      padding-left: $form-spacer-x;
    }
  }

  .field__content {
    flex: 1 1 auto;
  }

  &.CompositeField {
    flex-direction: column;
  }
}

.field.password {
  .show-password {
    color: $input-color;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}
