.form-control.dropdown {
  @extend .form-select;
}

.field {
  flex-direction: row;

  &__label {
    align-items: center;
    display: inline-flex;
    padding-right: $form-spacer-x;

    & + .field__content {
      padding-left: $form-spacer-x;
    }

    &-right {
      flex: 1 1 100%;
      padding: .5em;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &.CompositeField {
    flex-direction: column;
  }

  &__alert {
    &.validation {
      @extend .alert-danger;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 0;
    }
  }
}

.field.password {
  .show-password {
    color: $input-color;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

.form__field input.password {
  @extend .form-control;
}

.form__fieldset {
    margin-bottom: -1rem;
}
