/*
 * some basic styles
 */

@import '../_variables';
@import '../_animations';

.loading {
	animation: fade 0.5s linear infinite;
}

.graphql-page {
	&.response-404 {
		filter: grayscale(1);
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.is-offline {
	.graphql-page {
		&.response-523 {
			filter: grayscale(1);
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
