/*
 * Basic styles for silverstripe-elemental
 */

// add top/bottom paddings for basic elements
.element {
    position: relative;
    padding-top: $grid-gutter-element-height;
    padding-bottom: $grid-gutter-element-height;

    // remove paddings of the slideshow
    &.dynamic__elements__image__elements__elementimage,
    &.site__elements__sliderelement {
        padding-top: 0;
        padding-bottom: 0;
    }

    // remove paddings for elemental list cuz inner elements will have paddings
    &.dnadesign__elementallist__model__elementlist {
        padding-top: 0;
        padding-bottom: 0;

        .dynamic__elements__image__elements__elementimage,
        .site__elements__sliderelement {
            padding-top: $grid-gutter-element-height;
            padding-bottom: $grid-gutter-element-height;
        }
    }

    // Sidebar-like elements
    &.secondary {
        padding-top: ($grid-gutter-element-height / 2);
        padding-bottom: ($grid-gutter-element-height / 2);
    }

    // hide default page title cuz elemental object will be used to display titles
    &.page-header-element {
        display: none;
        padding-bottom: 0;
        margin-bottom: -$grid-gutter-element-height;
    }
}

.elements-sm,
.page-content-sidebar {
    padding-top: ($grid-gutter-element-height / 2);
    padding-bottom: ($grid-gutter-element-height / 2);

    // Sidebar elements
    .element {
        padding-top: ($grid-gutter-element-height / 2);
        padding-bottom: ($grid-gutter-element-height / 2);
    }
}

// remove container paddings for the slideshow
.dynamic__elements__image__elements__elementimage,
.site__elements__sliderelement {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}
