/*
 * some basic styles
 */

@import '../_variables';
@import '../_animations';

.loading {
    animation: fade 0.8s linear infinite;
}
.pulse {
    animation: pulse 0.8s linear infinite;
}

// don't let images be wider than the parent layer
div,
a,
span,
button,
i {
    background-repeat: no-repeat;
    background-size: contain;
}

iframe,
img {
    max-width: 100%;
}

table,
p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.a {
    cursor: pointer;
    color: $link-color;
}

.a,
a,
[data-toggle],
button,
.btn {
    &:hover,
    &.active,
    &:focus,
    &[aria-expanded='true'] {
        opacity: 0.8;

        > .fa,
        > .far,
        > .fas,
        > .fab,
        &.fa,
        &.far,
        &.fas,
        &.fab {
            transform: rotate(-180deg);
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;

        &:hover,
        &.active,
        &:focus,
        &[aria-expanded='true'] {
            > .fa,
            > .far,
            > .fas,
            > .fab,
            &.fa,
            &.far,
            &.fas,
            &.fab {
                transform: rotate(0deg);
            }
        }
    }
}

// exclude bootstrap-table
[data-toggle='table'] {
    &:hover,
    &.active,
    &:focus {
        opacity: 1;
    }
}

[data-toggle='collapse'] {
    &[aria-expanded='true'] {
        .accordion-icon {
            &:before {
                content: '\f068';
            }
        }
    }
}

// transactions
.transition,
a,
a *,
.a,
.a *,
button,
input,
optgroup,
select,
textarea,
.btn,
.btn *,
.dropdown,
.row,
.alert,
.alert *,
.message,
[data-toggle],
[data-toggle] * {
    transition: all 0.4s ease;
}

.navbar-toggler {
    transition: transform ease 0.4s;
}

.btn-toolbar {
    margin-top: $field-gutter-height;
}

/*
 * Extra class definition at _ui.form.basics.scss
 */
.field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: $field-gutter-height 0;
}

// element col paddings
.col-block {
    padding-top: $col-block-gutter-height;
    padding-bottom: $col-block-gutter-height;
}

// rewrite btn opacity on hover
.btn {
    &:hover,
    &.active,
    &:focus {
        opacity: 1;
    }
}

// SS-messages
.alert,
.alert-info,
.alert-danger {
    display: block;
}

.alert + .alert {
    border-top: 0;
}

.alert {
    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .typography {
        flex: 1 1;
    }
    .btn-close {
        margin-left: 1rem;
    }
}

.message {
    @extend .alert;

    @extend .alert-info;

    display: block;
    margin: 0.5rem 0;
}

.message.validation,
.message.required,
.message.error {
    @extend .alert;

    @extend .alert-danger;
}

.message.required,
.message.error {
    @extend .alert;

    @extend .alert-danger;
}

// dropdown icon
.navbar-toggler {
    &[aria-expanded='true'] {
        transform: rotate(90deg);
    }
}

.dropdown.show .dropdown-toggle::after,
.dropdown-toggle.active-dropdown::after,
.dropdown-toggle.active::after {
    transform: rotate(-90deg);
}

// dropdown hover
/*
.dropdown.show {
    .dropdown {
        &:hover,&.active,
        &:focus {
            .dropdown-menu {
                display: block;
            }
        }
    }
}
@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
    .dropdown-hover ul li {
        position: relative;
    }

    .dropdown-hover ul li {
        &:hover,&.active,
        &:focus {
            > .dropdown-toggle::after {
                transform: rotate(-90deg);
            }

            > ul {
                display: block;
            }
        }
    }

    .dropdown-hover ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none;
    }

    .dropdown-hover ul ul li {
        position: relative;
    }

    .dropdown-hover ul ul li {
        &:hover,&.active,
        &:focus {
            > ul {
                display: block;
            }
        }
    }

    .dropdown-hover ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none;
    }

    .dropdown-hover ul ul ul li {
        position: relative;
    }

    .dropdown-hover ul ul ul li {
        &:hover,&.active,
        &:focus {
            ul {
                display: block;
            }
        }
    }

    .dropdown-hover ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1;
    }
}*/

// dark dropdowns
.navbar-dark {
    .nav-link {
        @include hover-focus {
            background: $navbar-dark-hover-background;
        }
    }

    .active > .nav-link,
    .nav-link.active {
        background: $navbar-dark-active-background;
    }

    .nav-link.show,
    .navbar-nav .show > .nav-link {
        background: $navbar-dark-show-background;
        color: $navbar-dark-show-color;
    }
}

.dropdown-menu.bg-dark {
    border-color: $dark;

    .nav-link {
        color: $navbar-dark-color;

        @include hover-focus {
            color: $navbar-dark-hover-color;
        }

        &.disabled {
            cursor: default;
            color: $navbar-dark-disabled-color;
        }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
        color: $navbar-dark-active-color;
    }

    .dropdown-item {
        @include hover-focus {
            color: $navbar-dark-hover-color;
            background: $navbar-dark-hover-background;
        }

        &.active,
        &:active {
            background: $navbar-dark-active-background;
        }

        .nav-link {
            background: none;
        }
    }
}

.row,
.row-xs {
    > [class^='col-'] > .card {
        height: 100%;
    }
}

.row-xs {
    margin-right: -($grid-gutter-xs-width / 2);
    margin-left: -($grid-gutter-xs-width / 2);

    [class^='col-'] {
        padding-left: $grid-gutter-xs-width / 2;
        padding-right: $grid-gutter-xs-width / 2;
    }
}

#ForgotPassword {
    margin: 1rem 0;
    width: 100%;
}

#BetterNavigator {
    display: none;
    @media (min-width: map-get($grid-breakpoints,'md')) {
        display: block;
    }
}
#SiteWideOffline {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}

.alert-offline {
    display: none;
}
body.is-offline {
    .alert-offline {
        display: block;
    }
}

[aria-expanded='true'] {
    .fa-bars {
        &:before {
            content: '\f00d';
        }
    }
}

.jsSidebarUI {
    position: relative;
    min-height: 100%;
}

.jsSidebarUI__inner {
    position: relative;
    will-change: position, top;
}
