/*
 * some basic styles
 */

@import '../_variables';
@import '../_animations';

.loading {
	animation: fade 0.5s linear infinite;
}

.graphql-page {
	&.response-404 {
		filter: grayscale(1);
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.is-offline {
	iframe {
		display: none;
	}
	.graphql-page {
		&.response-523 {
			filter: grayscale(1);
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}

body.ajax-loading {
	overflow: hidden;
	height: 100vh;
	#Header,
	#Footer {
		position: relative;
		z-index: 2001;
	}
}
