.field {
    flex-direction: column;

    .field__label {
        padding-right: $form-spacer-x;

        &+.field__content {
            padding-left: $form-spacer-x;
        }
    }

    .field__content {
        flex: 1 1 auto;
    }
}

.field.password {
    .show-password {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        color: $input-color;
    }
}
