$grid-gutter-xs-width: $grid-gutter-width / 2 !default;
$grid-gutter-height: 8rem !default;

$blue: #016cb1 !default;
$dark: #000 !default;

$navbar-dark-hover-background: $dark !default;
$navbar-dark-active-background: $dark !default;
$navbar-dark-show-color: $blue !default;
$navbar-dark-show-background: $dark !default;
