#mc_embed_signup,
.mc_embed_signup {
  padding: 2rem;
  .mc-field-group {
    @extend .form-group;
  }

  input[type="text"],
  input[type="email"] {
    @extend .form-control;
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .clear {
    clear: both;
    float: none;
  }

  .input-group {
    @extend .form-check;
    ul,
    li {
      list-style: none;
    }

    input[type="checkbox"] {
      @extend .form-check-input;
    }

    label {
      @extend .form-check-label;
    }
  }

  .mce_inline_error,
  #mce-success-response,
  #mce-error-response {
    margin-top: 1rem;
    @extend .alert;
  }

  #mce-success-response {
    @extend .alert-success;
  }

  .mce_inline_error,
  #mce-error-response {
    @extend .alert-danger;
  }
}
