//@import "~mapbox-gl/src/css/mapbox-gl.css";
$map-height: 30rem !default;

$map-marker-color: $primary !default;
$map-marker-size: 30px !default;

$map-popup-font-size: 0.8rem !default;
$map-popup-width: 16rem !default;
$map-popup-height: 7rem !default;
$map-popup-bg: $white !default;
$map-popup-color: $body-color !default;

.mapAPI-map {
  height: $map-height;
  //margin-bottom: $grid-gutter-element-height;
}

.mapboxgl {
  &-popup {
    display: flex;
    font-size: $map-popup-font-size;
    height: $map-popup-height;
    left: 0;
    line-height: 1.2em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: $map-popup-width;
    z-index: 4;
  }

  &-popup-anchor-bottom,
  &-popup-anchor-bottom-left,
  &-popup-anchor-bottom-right {
    flex-direction: column-reverse;
  }

  &-popup-content {
    background: $map-popup-bg;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.4);
    color: $map-popup-color;
    min-height: 5rem;
    min-width: $map-popup-width;
    padding: 0.8rem;
    pointer-events: auto;
    position: relative;
  }

  &-popup-close-button {
    border-top-right-radius: 0.25rem;
    font-size: 2rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover,
    &:focus {
      background: $primary;
      color: $white;
    }
  }

  &-popup-tip {
    border: 0.8rem solid transparent;
    height: 0;
    width: 0;
    z-index: 1;
  }

  &-popup-anchor-bottom &-popup-tip {
    align-self: center;
    border-bottom: 0;
    border-top-color: $map-popup-bg;
  }

  &-marker {
    align-items: flex-end;
    color: $map-marker-color;
    cursor: pointer;
    display: flex;
    font-size: $map-marker-size;
    height: $map-marker-size;
    justify-content: center;
    line-height: 1em;
    text-align: center;
    width: $map-marker-size;

    .marker-icon,
    .fas,
    .fab,
    .far {
      animation: pulse 0.8s linear infinite;
    }
  }

  &-cluster {
    align-items: center;
    animation: pulse 0.8s linear infinite;
    background: $info;
    border-radius: 100%;
    color: color-yiq($info);
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;

    &::before,
    &::after {
      background: $info;
      border-radius: 100%;
      content: "";
      display: block;
      height: 140%;

      left: 50%;
      opacity: 0.2;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 140%;
      z-index: -1;
    }

    &::after {
      height: 180%;
      width: 180%;
    }
  }
}
