$grid-gutter-element-height: 2rem !default;

.jsMultiSlider {
  align-items: center;
  display: flex;
  justify-content: center;

  margin-bottom: $grid-gutter-element-height * 0.5;
  min-width: 100%;
  position: relative;

  &-active {
    margin-bottom: 0;
  }

  .slide {
    padding: 0 0.5rem;
    position: relative;
  }
}

.jsMultiSlider-container {
  margin-bottom: $grid-gutter-element-height * 0.5;
  position: relative;

  .slider-actions {
    font-size: 2rem;

    .act {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      text-decoration: none;
      top: 0;

      &-slider-prev {
      }

      &-slider-next {
        left: auto;
        right: 0;
      }
    }
  }
}

.jsMultiSlider-slides-container {
  margin: 0 2rem;
  overflow: hidden;

  > .slider-nav {
    position: relative;
  }
}
