// remove unused Model Admins
#Menu-SilverStripe-CampaignAdmin-CampaignAdmin,
#Menu-Dynamic-Elements-Sponsors-Admin-SponsorsAdmin,
#Menu-Dynamic-Elements-Admin-TestimonialsAdmin,
#Menu-Dynamic-Elements-Promos-Admin-PromosAdmin {
  display: none;
}

// make edit icon always shown
.grid-field__icon-action {
  &.edit-link {
    opacity: 1;
  }
}

// better items aligment
.grid-field__col-compact {
  vertical-align: bottom;
}

// correct primary buttons coloring
.toolbar--south {
  .btn-primary {
    color: #fff;
  }

  .btn-outline-primary {
    color: #999;
  }
}

#ActionMenus_MoreOptions {
  .btn-primary {
    color: #5589a7;
  }
}

// correct scrolls
body.cms {
  flex-direction: column;
  overflow-x: hidden;
}

// short fields margins/paddings
.fields-compact {
  .form-group {
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;

    .form__field-label {
      font-weight: bold;
    }

    &:after {
      margin-bottom: 0.25rem;
    }
  }

  .form-group:after,
  .form__divider:after {
    display: none;
  }

  /*.mce-edit-area {
		height: 5em;
		iframe {
			height: 5em !important;
		}
	}
	.form-control.textarea {
		height: 13.5em;
	}*/
}

.fields-row {
  margin: 0 !important;
  padding: 0 0 2em !important;
  width: 100%;

  .form__fieldgroup {
    display: flex;
    flex: 0 0 100% !important;
    flex-wrap: wrap;
    margin: 0 !important;
    max-width: 100% !important;
    padding: 0 !important;
    width: 100% !important;

    > .form-group {
      flex: 1 1 50%;
      margin: 0 !important;
      max-width: 50%;
      padding: 0 1rem;
    }
  }
}

// notifications rendering
.notifications-list {
  .alert {
    .btn-close {
      display: none;
    }
  }
}
