// remove unused Model Admins
#Menu-SilverStripe-CampaignAdmin-CampaignAdmin,
#Menu-Dynamic-Elements-Sponsors-Admin-SponsorsAdmin,
#Menu-Dynamic-Elements-Admin-TestimonialsAdmin,
#Menu-Dynamic-Elements-Promos-Admin-PromosAdmin {
    display: none;
}

// Fix form actions
#Form_EditForm_MajorActions_Holder,
#Form_ItemEditForm_MajorActions_Holder {
    flex: 1 1;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
    .btn {
        white-space: nowrap;
    }
}

#Form_ItemEditForm_RightGroup_Holder {
    margin-bottom: 0;
    padding-bottom: 0;
}
#Form_ItemEditForm_RightGroup {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;

    align-items: center;
    justify-content: center;
}

// make edit icon always shown
.grid-field__icon-action {
    &.edit-link {
        opacity: 1;
    }
}

// better items aligment
.grid-field__col-compact {
}
.grid-field__table .form-check-input.editable-column-field {
    margin: 0!important;
}
// correct primary buttons coloring
.toolbar--south {
    .btn-primary {
        color: #fff;
    }

    .btn-outline-primary {
        color: #999;
    }
}

#ActionMenus_MoreOptions {
    .btn-primary {
        color: #5589a7;
    }
}

// correct scrolls
body.cms {
    overflow-x: hidden;
    flex-direction: column;
}

// short fields margins/paddings
.fields-compact {
    .form-group {
        margin-bottom: .25rem;
        padding-bottom: .5rem;

        .form__field-label {
            font-weight: bold;
        }

        &:after {
            margin-bottom: .25rem;
        }
    }

    .form-group:after,
    .form__divider:after {
        display: none;
    }

    /*.mce-edit-area {
    height: 5em;
    iframe {
      height: 5em !important;
    }
  }
  .form-control.textarea {
    height: 13.5em;
  }*/
}

.fields-row {
    width: 100%;
    margin: 0 !important;
    padding: 0 0 2em !important;

    .form__fieldgroup {
        flex: 0 0 100% !important;
        display: flex;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        flex-wrap: wrap;

         > .form-group {
            flex: 1 1 50%;
            max-width: 50%;
            margin: 0 !important;
            padding: 0 1rem;
        }
    }
}

// notifications rendering
.notifications-list {
    .alert {
        .btn-close {
            display: none;
        }
    }
}

// fix grid bulk editor
.cms table.grid-field__table tbody .col-bulkSelect {
    position: relative;
}
