@import '../_variables';

@import '~bootstrap/scss/tables';

$typography-breakpoint: map-get($grid-breakpoints, 'sm') - 1 !default;

html,
body {
    background: $body-bg;
    color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $headings-color;
}

a {
    color: $link-color;
}

img,
.captionImage,
.image,
.ss-htmleditorfield-file {
    display: block;
    margin-top: $element-reduced-spacer-y;
    margin-bottom: $element-reduced-spacer-y;
    max-width: 100%;

    @media (min-width: $typography-breakpoint + 1) {
        margin-left: $element-reduced-spacer-x;
        margin-right: $element-reduced-spacer-x;
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &.w-100 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    &.start,
    &.left,
    &.leftAlone {
        float: left;
        clear: left;

        @media (min-width: $typography-breakpoint + 1) {
            margin: 0 $element-reduced-spacer-x $element-reduced-spacer-y 0;
        }
    }

    &.end,
    &.right,
    &.rightAlone {
        float: right;
        clear: right;

        @media (min-width: $typography-breakpoint + 1) {
            margin: $element-reduced-spacer-y 0 0 $element-reduced-spacer-x;
        }
    }

    iframe {
        width: 100% !important;
        height: 100% !important;
    }
}

.captionImage {
    img {
        margin-bottom: $element-reduced-spacer-y !important;
    }

    .caption {
        font-size: 0.8rem;
    }
}

.left,
.text-left,
.text-start {
    text-align: left;
}

.center,
.text-center {
    text-align: center;
}

.right,
.text-right,
.text-end {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;

    &.table-none {
        @extend .table-borderless;
        border: 0;

        tr,
        td,
        th {
            border: 0;
            background: none !important;
            box-shadow: none !important;
        }
    }
}

ul,
ol {
    padding-left: $spacer;

    li {
        position: relative;
        padding-left: 0.5em;
        margin: 0.5em 0;
    }
}

ul {
    list-style: none;

    li {
        list-style: none;
        padding-left: 0;

        &:before {
            content: '\2022';
            display: inline-block;
            margin-right: 0.5em;

            position: absolute;
            left: -0.75em;
            font-size: 1em;
            top: -0.1em;
            opacity: 0.5;
        }
    }
}

table,
p,
tr,
th,
td,
img,
iframe {
    max-width: 100% !important;

    @media (max-width: $typography-breakpoint) {
        display: block;
        width: 100% !important;
        border: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

table,
p,
tr,
th,
td,
img {
    @media (max-width: $typography-breakpoint) {
        height: auto !important;
    }
}

@media (max-width: $typography-breakpoint) {
    .d-typography-breakpoint-none {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    thead {
        display: block;
        text-align: center;

        >tr {
            display: flex;
        }
    }

    tbody {
        display: block;
    }

    td {
        display: flex;
        flex-direction: column;

        &:before {
            content: attr(data-label);
            font-weight: bold;
            width: 50%;
            min-width: 50%;
            padding: 0 $spacer/2;
            display: block;
        }
    }
}

img {
    border: 1px dashed;
}
