@import "../_variables";

@import "~bootstrap/scss/tables";
$typography-breakpoint: map-get($grid-breakpoints, "sm") - 1 !default;

html,
body {
    color: $body-color;
    background: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $headings-color;
}

a {
    color: $link-color;
}

img,
.captionImage,
.image,
.ss-htmleditorfield-file {
    display: block;
    max-width: 100%;
    margin-top: $element-reduced-spacer-y;
    margin-bottom: $element-reduced-spacer-y;

    @media (min-width: $typography-breakpoint + 1) {
        margin-right: $element-reduced-spacer-x;
        margin-left: $element-reduced-spacer-x;
    }

    &.center {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    &.w-100 {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    &.start,
    &.left,
    &.leftAlone {
        float: left;
        clear: left;

        @media (min-width: $typography-breakpoint + 1) {
            margin: 0 $element-reduced-spacer-x $element-reduced-spacer-y 0;
        }
    }

    &.end,
    &.right,
    &.rightAlone {
        float: right;
        clear: right;

        @media (min-width: $typography-breakpoint + 1) {
            margin: $element-reduced-spacer-y 0 0 $element-reduced-spacer-x;
        }
    }

    iframe {
        width: 100% !important;
        height: 100% !important;
    }
}

.captionImage {
    img {
        margin-bottom: $element-reduced-spacer-y !important;
    }

    .caption {
        font-size: .8rem;
    }
}

.left,
.text-left,
.text-start {
    text-align: left;
}

.center,
.text-center {
    text-align: center;
}

.right,
.text-right,
.text-end {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;

    &.table-none {
        margin-right: -.5rem;
        margin-left: -.5rem;
        border: 0;

        @extend .table-borderless;

        tr,
        td,
        th {
            border: 0;
            background: none !important;
            box-shadow: none !important;
        }
    }
}

ul,
ol {
    padding-left: $spacer;

    li {
        position: relative;
        margin: .5em 0;
        padding-left: .5em;
    }
}

ul {
    padding-left: 0;
    list-style: none;

    li {
        margin-left: -.1em;
        padding-left: 0;
        list-style: none;

        &:before {
            position: static;
            display: inline-block;
            width: .5em;
            height: .5em;
            margin-right: 1em;
            content: "";
            border-radius: .5em;
            background: currentColor;
        }
    }
}

table,
p,
tr,
th,
td,
img,
iframe {
    max-width: 100% !important;

    @media (max-width: $typography-breakpoint) {
        display: block;
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        border: 0 !important;
    }
}

table,
p,
tr,
th,
td,
img {
    @media (max-width: $typography-breakpoint) {
        height: auto !important;
    }
}

@media (max-width: $typography-breakpoint) {
    .d-typography-breakpoint-none {
        position: absolute;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        white-space: nowrap;
        border: 0;
    }

    thead {
        display: block;
        text-align: center;

         > tr {
            display: flex;
        }
    }

    tbody {
        display: block;
    }

    td {
        display: flex;
        flex-direction: column;

        &:before {
            font-weight: bold;
            display: block;
            width: 50%;
            min-width: 50%;
            padding: 0 $spacer * .5;
            content: attr(data-label);
        }
    }
}

img {
    border: 1px dashed;
}

.ss-htmleditorfield-file.embed {
    position: relative;

    @include responsive-ratio(4,3,true);
    iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
