// hide default page title cuz elemental object will be used to display titles
.element__breadcrumbs {
  //margin-bottom: calc(-2 * #{inspect($element-spacer-y)});
}

.page-header-element {
  --bs-gutter-y: 0.75rem;
  display: none;
  //margin-bottom: calc(-1 * #{inspect($element-spacer-y)});
}

.page-header-element:not(.d-block) + .element {
  margin-top: 0;
}


.page-header {
  line-height: 1em;
  margin-bottom: 0;
}
