// remove containers for child elements
.sidebar__col {
    position: relative;
    margin-top: $element-reduced-spacer-y;
    margin-bottom: $element-reduced-spacer-y;
}

.content-holder__sidebar {
    .row {

        .container,
        .container-fluid {
            padding: 0;
            width: auto;
        }
    }
}

.page-content-sidebar {

    // Sidebar elements
    .element {
        padding-top: ($element-reduced-spacer-y);
        padding-bottom: ($element-reduced-spacer-y);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.element__widget {}

.widget__Site_Widgets_SubmenuWidget {
    .nav-link {
        width: 100%;

        &:hover,
        &:focus,
        &:active,
        &.active {
            font-weight: bold;
            color: $sidebar-nav-link-hover-color;
        }
    }

    .active {
        .nav-link {
            font-weight: bold;
            color: $sidebar-nav-link-hover-color;
        }
    }
}
