/**
 * Your custom style
 */

// shrink elements on scroll
body.shrink {
	@media (max-width: map-get($grid-breakpoints, 'lg') - 1) {
		padding-top: 100px;

		#Header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}

	@media (min-width: map-get($grid-breakpoints, 'lg')) and (max-width: map-get($grid-breakpoints, 'xl') - 1) {
		padding-top: 146px;

		#Header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}
}

// sticky footer
body > .wrapper {
	min-height: 100%;
	min-height: 100vh;
}
@media (min-width: $full-body-min-width) {
	/*body {
        height: 100%;
        min-height: 100%;
    }*/

	.wrapper {
		padding-bottom: $footer-size + $footer-bar-size + $grid-gutter-height /
			2;

		//padding-top: $grid-gutter-height;
	}

	.footer {
		height: $footer-size + $footer-bar-size + $grid-gutter-height / 2;
		margin-top: -($footer-size + $footer-bar-size + $grid-gutter-height / 2);
	}
}

.sidebar__col {
	position: relative;
	margin-top: $grid-gutter-element-height;
	margin-bottom: $grid-gutter-element-height * 2;
}
.content-holder__sidebar {
	> .container {
		padding: 0;
	}
}

#SiteWideMessage {
	text-align: center;
	.alert {
		margin-bottom: 0;
		.btn-close {
			margin-top: -0.5rem;
			float: right;
		}
	}
}

// stick navbar to top using mobile layout
/*#Header {
    position: relative;
    padding-top: $grid-gutter-height / 2;
    padding-bottom: 1rem;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        padding-top: 1rem;
        padding-bottom: 0;
    }
}

#Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        position: relative;
        margin-top: 1rem;
    }
}*/

#Header {
	background-color: $header-bg;
	color: $header-color;

	a {
		color: $header-link;
	}

	.nav-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		position: static;
	}

	.logo {
		filter: invert(100%);
	}

	.tagline {
		display: inline-block;
		font-size: 1.2rem;
		margin-left: 2em;
	}
}

#Navigation {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	width: 100%;
	background: $header-bg;

	.navbar-toggler {
		color: $main-nav-link-color;
		font-size: $main-nav-toggler-size;
	}

	.nav-item,
	.nav-link {
		flex-direction: column;
		@media (min-width: $full-body-min-width) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	.nav-link {
		color: $main-nav-link-color;
		background: $main-nav-link-bg;

		&:focus,
		&:hover,
		&.active {
			background: $main-nav-link-hover-bg;
			color: $main-nav-link-hover-color;
		}
	}

	.active {
		.nav-link {
			background: $main-nav-link-hover-bg;
			color: $main-nav-link-hover-color;
		}
	}

	.nav-item .nav-dropdown {
		.fa-chevron-right
        //&:after
		{
			display: none;
		}
	}

	.dropdown-menu {
		border-color: $main-nav-dropdown-bg;
		background: $main-nav-dropdown-bg;
		margin-top: 0;
		border-top: 0;
		width: 100%;
		.nav-item-link {
			color: $main-nav-dropdown-color;
		}
	}

	.dropdown-item {
		&:focus,
		&:hover {
			background: $main-nav-dropdown-hover-bg;
			.nav-item-link {
				color: $main-nav-dropdown-hover-color;
			}
		}
		.nav-item-link {
			width: 100%;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	@media (min-width: $full-body-min-width) {
		.navbar-nav > .nav-item {
			padding-right: 2rem;
			padding-left: 2rem;
		}
		.dropdown-item .nav-item-link {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

/*#MainContent {
	padding-top: 2 * $grid-gutter-element-height;
	padding-bottom: 2 * $grid-gutter-element-height;
}*/

#PageBreadcumbs {
	position: relative;
	z-index: 2;
}

#Footer {
	background-color: $footer-bg;
	color: $footer-color;
	> .wrapper {
		padding-top: $grid-gutter-element-height;
	}

	a {
		color: $footer-link;
	}

	ul {
		margin-bottom: 0;
	}

	.field:first-child {
		margin-top: 0;
	}

	.footer {
		background-color: $footer-footer-bg;

		.copyright {
			padding-right: 0.5rem;
		}

		li {
			padding: 0 0.5rem;
		}
	}

	@media (min-width: $full-body-min-width) {
		.wrapper {
			padding-bottom: $footer-bar-size;
		}

		.footer {
			height: $footer-bar-size;
			margin-top: -$footer-bar-size;
			line-height: $footer-bar-size;
		}
	}
}

.flyout-FlyoutUI {
	display: none;
}
