.sidebar__col {
	position: relative;
	margin-top: $element-reduced-spacer-y;
	margin-bottom: $element-reduced-spacer-y;
}
.content-holder__sidebar {
	> .container {
		padding: 0;
	}
}

#SiteWideMessage {
	text-align: center;
	.alert {
		margin-bottom: 0;
		.btn-close {
			margin-top: -0.5rem;
			float: right;
		}
	}
}

#Header {
	background-color: $header-bg;
	color: $header-color;

	a {
		color: $header-link;
	}

	.nav-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		position: static;
	}

	.logo {
		filter: invert(100%);
	}

	.tagline {
		display: inline-block;
		font-size: 1.2rem;
		margin-left: 2em;
	}
}

#Navigation {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	width: 100%;
	background: $header-bg;

	.navbar-toggler {
		color: $main-nav-link-color;
		font-size: $main-nav-toggler-size;
	}

	.nav-item,
	.nav-link {
		flex-direction: column;
		/*@media (min-width: $full-body-min-width) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}*/
	}

	.nav-link {
		color: $main-nav-link-color;
		background: $main-nav-link-bg;

		&:focus,
		&:hover,
		&.active {
			background: $main-nav-link-hover-bg;
			color: $main-nav-link-hover-color;
		}
	}

	.active {
		> .nav-link {
			background: $main-nav-link-hover-bg;
			color: $main-nav-link-hover-color;
		}
	}

	.nav-item .nav-dropdown {
		.fa-chevron-right
        //&:after
		{
			display: none;
		}
	}

	.dropdown-menu {
		border-color: $main-nav-dropdown-bg;
		background: $main-nav-dropdown-bg;
		margin-top: 0;
		border-top: 0;
		min-width: 100%;
		.nav-item-link {
			color: $main-nav-dropdown-color;
		}
	}

	.dropdown-item {
		&.active,
		&:active,
		&:focus,
		&:hover {
			background: $main-nav-dropdown-hover-bg;
			.nav-item-link {
				color: $main-nav-dropdown-hover-color;
			}
		}
		.nav-item-link {
			width: 100%;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	@media (min-width: $full-body-min-width) {
		.navbar-nav > .nav-item {
			padding-right: 2rem;
			padding-left: 2rem;
		}
		.dropdown-item .nav-item-link {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

/*#MainContent {
	padding-top: 2 * $element-reduced-spacer-y;
	padding-bottom: 2 * $element-reduced-spacer-y;
}*/

#PageBreadcumbs {
	position: relative;
	z-index: 2;
}

#Footer {
	display: flex;
	flex-direction: column;
	background-color: $footer-bg;
	color: $footer-color;

	> .wrapper {
		padding-top: $element-reduced-spacer-y;
		padding-bottom: $element-reduced-spacer-y;
	}

	a,
	.a {
		color: $footer-link;
	}

	.footer {
		padding-top: $element-reduced-spacer-y;
		padding-bottom: $element-reduced-spacer-y;
		background-color: $footer-footer-bg;

		.copyright {
			padding-right: 0.5rem;
		}

		li {
			padding: 0 0.5rem;
		}
	}
}
